@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    overscroll-behavior-y: none;
  }

  button {
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
